In [3]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv("../data/ml-latest-small/movies.csv")
ratings = pd.read_csv("../data/ml-latest-small/ratings.csv")

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [36]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [37]:
np.asarray(ratings.head())[:,0]

array([ 1.,  1.,  1.,  1.,  1.])

In [35]:
R = np.zeros([len(np.unique(ratings['userId'])),len(movies)])

In [38]:
ratingsnp = np.asarray(ratings)

In [41]:
for i in range(len(ratings)):
    R[ratingsnp[i,0], ratingsnp[i,1]] = ratingsnp[i,2]

/home/marc/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  from ipykernel import kernelapp as app

IndexError: index 27369 is out of bounds for axis 1 with size 9125